<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testCommonCrud</title>
    <script type="text/javascript" src="js/plugin/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/common/communicate.js"></script>
    <script type="text/javascript" src="js/testCommonCrud.js"></script>
</head>
<body>
testCommonCrud<br/>
实体类列表<select id="entityList"></select><br/>
属性列表<select id="propertyList"></select><br/>
<textarea id="result" tstyle="with:100px;height:100px;">

</textarea>
<br/>
<button id="getEntityList">getEntityList</button>
<button id="add">添加</button>
<button id="update">修改(update)</button>
<button id="put">修改(put)</button>
<button id="patch">局部修改(patch)</button>
<button id="delete">删除</button>
<button id="getOne">获取一个</button>
<button id="getAll">获取全部</button>
<button id="getPage">获取分页</button>
<button id="queryAll">查询全部</button>
<button id="queryPage">查询分页</button>
</body>
</html>