<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/all.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-table.min.css">

    <title>实体类通用增删改查</title>
</head>
<body>
<div id="app">
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">莘科自有平台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="navbarMenus">
                <!-- VUE动态创建菜单 -->
                <span v-for="menu in menus">
                    <li class="nav-item dropdown" v-if="menu.items">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ menu.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" v-for="submenu in menu.items">{{ submenu.name}}</a>
                        </div>
                    </li>
                    <li class="nav-item" v-else>
                        <a class="nav-link" href="#">{{ menu.name }}</a>
                    </li>
                </span>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">用户</li>
        </ol>
    </nav>

    <div class="container">
        <div>
            <button id="btnTestAlert" class="btn btn-secondary">提示框</button>
            <button id="btnTestConfirm" class="btn btn-secondary">确认框</button>
        </div>
        <div id="toolbar" class="form-inline">
            <button id="btnCreate" class="btn btn-primary">创建</button>
            <button id="btnModify" class="btn btn-primary">修改</button>
            <button id="btnDelete" class="btn btn-primary">删除</button>
            <span class="alert"></span>

            <input id="txtName" class="form-control" style="width: 120px" type="text" placeholder="昵称" data-name="name">
            <input id="txtLoginName" class="form-control" style="width: 120px" type="text" placeholder="登录名" data-name="loginName">
            <button id="btnSearch" class="btn btn-secondary">搜索</button>
            <button id="btnClearSearch" class="btn btn-secondary">清空</button>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-page-list="[10,20,30,40]"
               data-height="450"
        ></table>

        <div id="modalContainer"> <!-- 模态框容器 -->
        </div>

    </div>
    {{ message }}
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS, and then Bootstrap Table JS -->
<script src="bootstrap/jquery.min.js"></script>
<script src="bootstrap/popper.min.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>
<script src="bootstrap/core.min.js"></script>
<script src="bootstrap/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/common/communicate.js"></script>
<script src="js/common/bootstrap-util.js"></script>
<script src="js/testVue.js"></script>
</body>
</html>