.icon-blank{
	background:url('../images/easyUI/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/easyUI/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/easyUI/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/easyUI/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../images/easyUI/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/easyUI/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/easyUI/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../images/easyUI/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/easyUI/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/easyUI/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../images/easyUI/search.png') no-repeat center center;
}
.icon-print{
	background:url('../images/easyUI/print.png') no-repeat center center;
}
.icon-help{
	background:url('../images/easyUI/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/easyUI/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/easyUI/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../images/easyUI/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/easyUI/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/easyUI/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('../images/easyUI/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/easyUI/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/easyUI/mini_refresh.png') no-repeat center center;
}



.icon-home{
	background:url('usericons/home.png') no-repeat center center;
}

.icon-item{
	background:url('usericons/item.png') no-repeat center center;
}

.icon-writeblog{
	background:url('usericons/writeblog.png') no-repeat center center;
}

.icon-bkgl{
	background:url('usericons/bkgl.png') no-repeat center center;
}

.icon-bklb{
	background:url('usericons/bklb.png') no-repeat center center;
}

.icon-plgl{
	background:url('usericons/plgl.png') no-repeat center center;
}

.icon-grxx{
	background:url('usericons/grxx.png') no-repeat center center;
}

.icon-grxxxg{
	background:url('usericons/grxxxg.png') no-repeat center center;
}

.icon-system{
	background:url('usericons/system.png') no-repeat center center;
}

.icon-modifyPassword{
	background:url('usericons/modifyPassword.png') no-repeat center center;
}

.icon-refresh{
	background:url('usericons/refresh.png') no-repeat center center;
}

.icon-download{
	background:url('usericons/download.png') no-repeat center center;
}

.icon-exit{
	background:url('usericons/exit.png') no-repeat center center;
}

.icon-submit{
	background:url('usericons/submit.png') no-repeat center center;
}

.icon-review{
	background:url('usericons/review.png') no-repeat center center;
}

.icon-link{
	background:url('usericons/link.png') no-repeat center center;
}
.icon-tree1{
background:url('usericons/house_img.png') no-repeat center center;
}